<html>
	<body>
       <h3>Editar Analise</h3>
        <form action="edita_analise" method="post">
            <p><input type="hidden" name="num_analise"value="{{params.get('num_analise')}}"/></p>
            <p>Data de Registo: <input type="text" name="data_registo"/></p>
            <p>Nome: <input type="text" name="nome"/></p>
            <p>Quantidade: <input type="int" name="quant"/></p>
            <p>Instituição: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Editar"/></p>
        </form>
        <p><a href="voltar">voltar</a></p>
	</body>
<html>