<doctype html>
    <body>
        <h1>Menu</h1>
        <p><a href="medicos">Médicos</a></p>
        <p><a href="instituicoes">Instituições</a></p>
        <p><a href="prescricoes">Prescrições</a></p>
        <p><a href="analises">Análises</a></p>
        <p><a href="realizar_venda">Realizar Vendas</a></p>
        <p><a href="listar_valores_glicemia">Listar valores de glicemia por concelho</a></p>
        <p><a href="listar_subs_prescritas">Listar substâncias prescritas por um dado médico</a></p>
    </body>
</doctype>