<html>
	<body>
        <h3>Nova Prescriçao</h3>
        <form action="nova_prescricao" method="post">
            <p>Cedula: <input type="int" name="num_cedula"/></p>
            <p>Nº Doente: <input type="int" name="num_doente"/></p>
            <p>Data: <input type="text" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="int" name="quant"/></p>
            <p><input type="submit" value="Inserir"/></p>
        </form>
        <p><a href="voltar">voltar</a></p>
	</body>
<html>