<doctype html>
    <body>
          <h3>Venda sem pescricao</h3>
            <form action="venda_sem_prescricao" method="post">
                <p>num_venda: <input type="int" name="num_venda"/></p>
                <p>data_registo: <input type="text" name="data_registo"/></p>
                <p>substancia: <input type="text" name="substancia"/></p>
                <p>quant: <input type="int" name="quant"/></p>
                <p>preco: <input type="int" name="preco"/></p>
                <p>instituicao: <input type="int" name="inst"/></p>
                <p><input type="submit" value="efetuar venda"/></p>
            </form>
        <p><a href="voltar">voltar</a></p>
    </body>
  </doctype>